{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock meta %}
{% block content %}
      <div class="container cntct">
            <h3 class="text-center">You</h3>
            <h3 class="text-center">can</h3>
            <h3 class="text-center">contact</h3>
            <h3 class="text-center">me</h3>
            <h3 class="text-center">through</h3>
            <br>
            <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=memahafizh@gmail.com&tf=1"><img src="{% static 'gmail.png' %}"></a>
            <br>
            <a href="https://www.instagram.com/memahafizh/"><img src="{% static 'ig.png' %}"></a>
            <br>
            <a href="https://www.linkedin.com/in/mohammad-hafizh-dwiandra-ramadhan-5251231a3/"><img src="{% static 'linkedin.png' %}"></a>
            <br>
            <a href="https://vsco.co/memahafizh/gallery"><img src="{% static 'vsco.jpeg' %}"></a>
      </div>
{% endblock content %}