{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{% endblock meta %}
{% block content %} 
<br>
<br>
<br>
<br>
    <div class="container">
    <table class = "table table-striped" >
        <thead class="thead-dark">
            <th class = "text-light" scope="col">Keterangan</th>
            <th class = "text-light" scope="col">Isi</th>
        </thead>
        <tbody>
            {% for jadwal in schedule %}
        <tr>
            <td class="text-light">Nama Matkul</td>
            <td class = "text-light">{{jadwal.namaMatkul}}</td>
        </tr>
        <tr>
            <td class = "text-light">Nama Dosen</td>
            <td class = "text-light">{{jadwal.dosen}}</td>
        </tr>
        <tr>
            <td class = "text-light">Jumlah SKS</td>
            <td class = "text-light">{{jadwal.sks}}</td>
        </tr>
        <tr>
            <td class = "text-light">deskripsi</td>
            <td class = "text-light">{{jadwal.deskripsi}}</td>
        </tr>
        <tr>
            <td class = "text-light">Semester dan Tahun Ajaran</td>
            <td class = "text-light">{{jadwal.tahun}}</td>
        </tr>
        <tr>
            <td class = "text-light">Ruangan</td>
            <td class = "text-light">{{jadwal.ruang}}</td>    
        </tr>
        {% endfor %}
        </tbody>    
    </table>
</div>
<div class="text-center">
    <a href="{% url 'home:semua' %}"><button type="button" class ="btn btn-light">Kembali</button></a>
</div>
{% endblock content %}