{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{% endblock meta %}
{% block content %} 
<h1 style="text-align: center; margin-top: 75px;color: white;"> Jadwal Kuliah</h1>
<table class = "table text-light" >
    <thead>
        <th class = "text-light" scope="col">Nama Matkul</th>
        <th class = "text-light" scope="col">Nama Dosen</th>
        <th class = "text-light"  scope="col">Jumlah SKS</th>
        <th class = "text-light" scope="col">Nama Deskripsi</th>
        <th class = "text-light" scope="col">Nama Tahun</th>
        <th class = "text-light" scope="col">Ruangan</th>
        <th class = "text-light" scope="col">Hapus Jadwal</th>
    </thead>
    <tbody>
        {% for jadwal in schedule %}
        <tr>
            <td><a href="{% url 'home:detail' jadwal.id %}" style="color: white;">{{jadwal.namaMatkul}}</a></td>
            <td class = "text-light">{{jadwal.dosen}}</td>
            <td class = "text-light">{{jadwal.sks}}</td>
            <td class = "text-light">{{jadwal.deskripsi}}</td>
            <td class = "text-light">{{jadwal.tahun}}</td>
            <td class = "text-light">{{jadwal.ruang}}</td>
            <td><a href="{% url 'home:hapus' jadwal.id %}"><button type="button" class="btn btn-danger">Hapus</button></a></td>
            
        </tr>
        {% endfor %}
    </tbody>    
</table>
<br>
<div class="text-center">
    <a href="{% url 'home:haltambah' %}"><button type="button" class ="btn btn-light">Tambah Matkul</button></a>
</div>
{% endblock content %}