{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{% endblock meta %}
{% block content %}    
<br>
<br>
<br>
<br>
<br>
<div class ="container">
    <div class="card mx-auto" style="background-color: lightgrey;width: 45%;">
        <h1 style="text-align: center;">Daftar Kegiatan</h1>
    </div>
    <br>
    {% csrf_token %}
    {% for i in dataKe %}
    <div class="row">
        <div class="card mx-auto" style="background-color: lightgrey; border: 0px;">
        <h3 class="text-center" style="color: black;">{{i.namaKegiatan}}</h3>
        {% csrf_token %}
        {% for j in dataO %}
        {% if j.kegiatan == i %}
        <p class="text-center">{{j.namaOrang}} </p>
        {% endif %}
        {% endfor %}
        </div>
    </div>
    <br>
    {% endfor %}
</div>
<br>
<br>
<form action="" method="POST">
    {% csrf_token %}
    <div class="container tambahform">
    <table class = "table" >
        <thead>
            <th scope="col">Keterangan</th>
            <th scope="col">Isi</th>
        </thead>
        <tbody>
            <tr>
                {{form}}
            </tr>
        </tbody>    
    </table>
</div>
<div class="text-center">
    <input type="submit" id ="submit" class="btn btn-success" value="Tambah">
</div>
</form>
{% endblock content %}