{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

{% endblock meta %}
{% block content %}    
<br>
<br>
<div class="container land" style="text-align: center;margin-top: 30px;background-color: lightgrey;">
    <br>
    <h1>Halo!</h1>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <a href="{% url 'story6:tambahK' %}"><button type="button" class ="btn btn-light">Tambah Kegiatan</button></a>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <a href="{% url 'story6:dataK' %}"><button type="button" class ="btn btn-light">List Kegiatan</button></a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
{% endblock content %}