@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }

body{
    font-family: Product Sans;
    background: #193A6F;
}
.navbar-default{
    background-image: none;
    background-color: #F6404F;
}
.navbar-default a {
    color: black;
}
a {
    font-family: Product Sans;
}
p{
    font-family: Product Sans;
}
.navbar-custom {
    background-color: #F6404F;
}
.navbar-toggler{
    border-color: black;
}
.navbar-toggler-icon {
    background-image: url( 
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); ;
}
.navbar-nav { 
    margin-left: auto; 
} 
.bio {
    background-color: lightgrey;
    padding:3vw;
    width: 96vw;
    margin-left: 2vw;
    margin-top: 80px;
}
.bio p {
    margin-left: 10vw;
}
.bio table {
    margin-left: 10vw;
}

table, th, td {
    font-family: Product Sans;
    color: black;
}
.compfest {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
}
.perak {
    margin-top: 80px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
}
.gal {
    background-color: lightgrey;
    margin-top: 80px;
}
.more {
    background-color: #EF5455;
}
.more p {
    padding-top: 5px;
}
.here {
    color: #193A6F;
}
.cntct {
    margin-top: 100px;
}
.cntct h3{
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.cntct img {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.story1 {
    background-color: lightgrey;
    padding: 20px;
  }
.sendokir {
    float:left;
    height:400px;
    margin-right: 3vw;
    margin-left:40px;
    margin-top: 100px;
    margin-bottom: 3vw;
}
.table {
    color:white;
}
.tambahform {
    background-color: lightgrey;
}

@media screen and (max-width:460px) {
    .sendokir {
        width: 300px;
        height: auto;
    }
}
@media screen and (max-width:350px) {
    .sendokir {
        width: 250px;
        height: auto;
    }
}