{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Mohammad Hafizh Dwiandra R</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/Blitzer/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( function() {
      $( "#accordion" ).accordion({
          heightStyle: "content",
          collapsible: true
      });
    } );
    </script>
{% endblock meta %}
{% block content %}
<br>
<br>
<br>
<br>

<div class ="accordion" id="accordion" style="width: 50%; margin: auto;">
            <h3>Halo!
            <div class="move">
                <div class="btn move-up">↑</div>
                <div class="btn move-down">↓</div>
            </div></h3>
        <div>
            <p>
                Nama saya Mohammad Hafizh Dwiandra Ramadhan
            </p>
            </div>
            <h3>Aktivitas
            <div class="move">
                <div class="btn move-up">↑</div>
                <div class="btn move-down">↓</div>
            </div></h3>
        <div>
            <p>
                Sekarang saya sedang kepusingan bagaimana caranya membuat accordion naik turun
            </p>
            </div>
            <h3>Pengalaman
            <div class="move">
                <div class="btn move-up">↑</div>
                <div class="btn move-down">↓</div>
            </div></h3>
        <div>
            <p>
                Ngoding story dari story 1 sampai sekarang
            </p>
            </div>
            <h3>Prestasi
            <div class="move">
                <div class="btn move-up">↑</div>
                <div class="btn move-down">↓</div>
            </div></h3>
        <div>
            <p>
                Insha allah bentar lagi ada:)
            </p>
            </div>
  </div>

{% endblock content %}