{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-default">
    <a class="navbar-brand" href="#">{% if check == 0 %} Profile {% endif %}{% if check == 1 %} Experience {% endif %}{% if check == 2 %} Gallery {% endif %}{% if check == 3 %} Contact {% endif %}{% if check == 4 %} Story 1 {% endif %}{% if check == 5 %} Schedule {% endif %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link" href="{% url 'home:index' %}">Profile <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="{% url 'home:exp' %}">Experience</a>
        <a class="nav-link" href="{% url 'home:gallery' %}">Gallery</a>
        <a class="nav-link" href="{% url 'home:contact' %}">Contact</a>
        <a class="nav-link" href="{% url 'story1:story1' %}">Story 1</a>
        <a class="nav-link" href="{% url 'home:semua' %}">Schedule</a>
        <a class="nav-link" href="{% url 'story6:landing' %}">Kegiatan</a>
        <a class="nav-link" href="{% url 'story7:story7' %}">Akordion</a>
      </div>
    </div>
  </nav>
  {% block content %}
  {% endblock content %}
</body>
  
</html>